/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.container{
    margin: 0 auto;
}
/*HEADER*/
.header{
    background-color: #ffffff;
    box-shadow: 0 3px 6px #00000029;
}
.header .container{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1354px;
}
.header-nav-list{
    display: flex;
}
.header .logo {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    line-height: 37px;
    font-weight: 300;
    color: #08A6E4;
}
.header-nav a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    color: #A5A5A5;
    text-align: center;
    padding: 0 47.5px;
}
.header-nav{
    border-bottom: 3px solid #08A6E4;
    padding:27px;
}
/*BANNER*/
.banner-container{
    text-align: center;
    margin-top: 130px;
}
.banner-h1{
    font-family: 'Raleway', sans-serif;
    font-size: 49px;
    line-height: 57px;
    font-weight: 400;
}
.banner-p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 38px;
}
.banner-button{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #ffffff;
    background-color: #08A6E4;
    padding: 22px 157px;
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ACE629;
}
.banner-image{
    background-image: url("../assets/Background.png");
    width: 100vw;
    height: 594px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*DOTS*/
.dots{
    height: 431px;
}
.dots-h2{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400 ;
    margin: 100px 0;
}
.dots-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.dot-red{
    height: 168px;
    width: 116px;
}
.red{
    background-color: #FB3B64;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    margin-left: 22px;
    margin-right: 32px;
    position: relative;
}
.red::after{
    background-image: url("../assets/Person.svg");
    position: absolute;
    content: "";
    height: 52px;
    width: 44px;
    background-repeat: no-repeat;
    top: 5px;
}
.dot-blue{
    height: 168px;
    width: 176px;
    margin: 0 184px;
}
.blue{
    background-color: #08A6E4;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    margin-left: 57px;
    margin-right: 57px;
    position: relative;
}
.blue::after {
    background-image: url("../assets/Eye.svg");
    position: absolute;
    content: "";
    height: 37px;
    width: 66px;
    background-repeat: no-repeat;
    top: 14px;
}
.dot-green{
    height: 168px;
    width: 163px;
}
.green{
    background-color: #55DFB4;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
}
.green::after {
    background-image: url("../assets/Catalog.svg");
    position: absolute;
    content: "";
    height: 48px;
    width: 52px;
    background-repeat: no-repeat;
    top: 6px;
}
.dot1{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 6px;
    font-weight: 900;
    margin-top: 14px;
    margin-bottom: 19px;
}
.dot2{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #A5A5A5;
    font-weight: 400;
}
/*BOXES*/
.boxes{
    height: 1395px;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
}
.boxes .container{
    width: 1124px;
    height: 1184px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box{
    height: 370px;
}
.box-one{
    display:flex;
    align-items: center;
    background-color: white;
    position: relative;
}
.box-one::after{
    width: 180px;
    height: 180px;
    background-color: #FB3B64;
    border-radius: 41px;
    content: "";
    display: block;
    position: absolute;
    transform: rotate(45deg);
    top: 75px;
    right: 95px;
}
.box-one-text{
    width: 416px;
    height: 188px;
    margin-left: 35px;
    margin-right: 169px;
}
.box-one-text::after{
    border: 4px solid #FB3B64;
    width: 328px;
    content: "";
    display: block;
    margin-top: 50px;
}
.macbook{
    width: 386px;
    height: 219px;
    z-index: 2;
    position: relative;
    margin-top: 90px;
}
.box-one-title, .box-two-title, .box-three-title{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400 ;
}
.box-one-description, .box-two-description, .box-three-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin-top: 30px;
}
.box-two{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
}
.box-two::after{
    width: 320px;
    height: 320px;
    background-color: #08A6E4;
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    left:70px;
    top:12px;
}
.box-two-text{
    width: 416px;
    height: 230px;
    margin-right: 20px;
}
.box-two-text::after{
    border: 4px solid #08A6E4;
    width: 328px;
    content: "";
    display: block;
    margin-top: 50px;
}
.iphone{
    width: 426px;
    height: 328px;
    margin-left: 70px;
    margin-right: 192px;
    position: relative;
    z-index: 2;
}
.box-three{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-three-text{
    width: 554px;
    height: 230px;
    background-color: white;
}
.box-three-text::after {
    border: 4px solid #55DFB4;
    width: 328px;
    content: "";
    display: block;
    margin-top: 50px;
}
.trumpet{
    width: 296px;
    height: 208px;
    margin: 98px 82px 64px 62px;
}
.box-three-img{
    background-color: #55DFB4;
    height: 370px;
    width: 440px;
}
.frame{
    width: 623px;
    height: 370px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*PRICING*/
.pricing{
    height: 716px;
}
.pricing .container{
    width: 1266px;
    height: 616px;
    margin-top: 100px;
}
.pricing-title{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 50px;
}
.price-boxes{
    height: 524px;
    display: flex;
    justify-content: space-between;
}
.price-box{
    border-radius: 18px;
    position: relative;
}
.price-box-one{
    border: 1px solid #EB476E;
    width: 372px;
    height: 461px;
    margin-top: 20px;
    text-align: center;
}
.price-box-two{
    border: 1px solid #07ACE6;
    width: 405px;
    height: 500px;
    align-self: stretch;
    box-shadow: 5px 10px 27px #07ACE629;
    text-align: center;
}
.price-box-three{
    border: 1px solid #55DFB4;
    width: 372px;
    height: 461px;
    margin-top: 20px;
    text-align: center;
}
.pricing-type{
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    font-weight: 700;
    margin-top: 34px;
}
.pricing-price{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 46px;
    line-height: 2px;
    margin-top: 40px;
}
.price-box-one .pricing-price{
    color: #EB476E;
}
.price-box-two .pricing-price{
    color: #07ACE6;
}
.price-box-three .pricing-price{
    color: #55DFB4;
}
.pricing-limited{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin-top: 38px;
}
.pricing-list-one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 175px;
    margin-top: 100px;
    margin-bottom: 67px;
}
.pricing-list-two{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 198px;
    margin-top: 62px;
    margin-bottom: 71px;
}
.pricing-list-three{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 175px;
    margin-top: 60px;
    margin-bottom: 55px;
}
.pricing-list{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 41px;
}
.pricing-item::before{
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Ckechmark-1.svg");
}
.pricing-item--not::before{
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Close.svg");
}
.price-box a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 41px;
    border-radius: 23px;
    color: white;
}
.button-one{
    background-color: #EB476E;
    padding: 16px 57px;
}
.button-two{
    background-color: #07ACE6;
    padding: 16px 65px;
    box-shadow: 5px 10px 14px #07ACE629;
}
.button-three{
    background-color: #55DFB4;
    padding: 16px 57px;
}
/*FORM*/

/*FOOTER*/
.footer{
    height: 89px;
    background-color: #F7F7F7;
    box-shadow: 0 -5px 40px #00000029;
}
.footer .container{
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1354px;
}
.twitter{
    margin-right: 20px;
}
.footer-logo-text{
    color: #08A6E4;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
}
.footer-copyrights{
    font-family: 'Open Sans', sans-serif;
    color: #A5A5A5;
    font-size: 11px;
    line-height: 15px;
    font-weight: 400;
    margin-top: 6.5px;
}