/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.container{
    margin: 0 auto;
}
/*HEADER*/
.header{
    background-color: #ffffff;
    box-shadow: 0 3px 6px #00000029;
}
.header .container{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1354px;
}
.header-nav-list{
    display: flex;
}
.header .logo {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    line-height: 37px;
    font-weight: 300;
    color: #08A6E4;
}
.header-nav a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    color: #A5A5A5;
    text-align: center;
    padding: 0 47.5px;
}
.header-nav{
    border-bottom: 3px solid #08A6E4;
    padding:27px;
}
/*BANNER*/
.banner-container{
    text-align: center;
    margin-top: 130px;
}
.banner-h1{
    font-family: 'Raleway', sans-serif;
    font-size: 49px;
    line-height: 57px;
    font-weight: 400;
}
.banner-p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 38px;
}
.banner-button{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #ffffff;
    background-color: #08A6E4;
    padding: 22px 157px;
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ACE629;
}
.banner-image{
    background-image: url("../assets/Background.png");
    width: 100vw;
    height: 594px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*DOTS*/
.dots{
    height: 431px;
}
.dots-h2{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400 ;
    margin: 100px 0;
}
.dots-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.dot-red{
    height: 168px;
    width: 116px;
}
.red{
    background-color: #FB3B64;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    margin-left: 22px;
    margin-right: 32px;
    position: relative;
}
.red::after{
    background-image: url("../assets/Person.svg");
    position: absolute;
    content: "";
    height: 52px;
    width: 44px;
    background-repeat: no-repeat;
    top: 5px;
}
.dot-blue{
    height: 168px;
    width: 176px;
    margin: 0 184px;
}
.blue{
    background-color: #08A6E4;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    margin-left: 57px;
    margin-right: 57px;
    position: relative;
}
.blue::after {
    background-image: url("../assets/Eye.svg");
    position: absolute;
    content: "";
    height: 37px;
    width: 66px;
    background-repeat: no-repeat;
    top: 14px;
}
.dot-green{
    height: 168px;
    width: 163px;
}
.green{
    background-color: #55DFB4;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
}
.green::after {
    background-image: url("../assets/Catalog.svg");
    position: absolute;
    content: "";
    height: 48px;
    width: 52px;
    background-repeat: no-repeat;
    top: 6px;
}
.dot1{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 6px;
    font-weight: 900;
    margin-top: 14px;
    margin-bottom: 19px;
}
.dot2{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #A5A5A5;
    font-weight: 400;
}
/*BOXES*/
.boxes{
    height: 1395px;
    background-color: #F7F7F7;
}

/*PRICING*/

/*FORM*/

/*FOOTER*/
.footer{
    height: 89px;
    background-color: #F7F7F7;
    box-shadow: 0 -5px 40px #00000029;
}
.footer .container{
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1354px;
}
.twitter{
    margin-right: 20px;
}
.footer-logo-text{
    color: #08A6E4;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
}
.footer-copyrights{
    font-family: 'Open Sans', sans-serif;
    color: #A5A5A5;
    font-size: 11px;
    line-height: 15px;
    font-weight: 400;
    margin-top: 6.5px;
}