/*HEADER*/
.header {
  background-color: #ffffff;
  box-shadow: 0 3px 6px #00000029;
}

.header .container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1354px;
}

.header-nav-list {
  display: flex;
}

.list:nth-child(2) {
  margin-right: 83px;
  margin-left: 83px;
}

.list:nth-child(3) {
  margin-right: 83px;
}

.list:hover {
  box-shadow: 0 4px 0 #08A6E4;
}

.list {
  padding: 25px 0;
}

.header .logo {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  line-height: 37px;
  font-weight: 300;
  color: var(--color-primary);
}

.header-nav-list a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 15px;
  color: var(--color-grey);
  text-align: center;
  padding: 27px 12px;
}
